/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Helevetica,Arial,sans-serif;
	font-size: 13px;
	line-height:1.5em; 
	background-color: #1e1e1e;
	background-image: url(/images/body.jpg);
	background-repeat: repeat-x;
}


a, a:link, a:visited {
	color: #145d7e;
} 

a:hover {
	color: #145d7e;
	text-decoration: none;
}

tr.hover	{background-color: #ddd !important;}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1 { font-size: 40px; font-weight: bold; margin: 0 0 30px 0; padding: 5px 0; color: #000; }
h2 { font-size: 28px; font-weight: normal; line-height: 28px; margin: 0 0 30px 0; padding: 0; color: #000; text-shadow: 0.1em 0.1em 0.1em gray;}
h3 { font-size: 21px; margin: 0 0 20px 0; padding: 0; padding: 0; color: #e2d8bd; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.margin_r30 { margin-right: 30px; }

.vertical_divider { border-right: 1px solid #d9d9d9; }
.horizon_divider {  border-bottom: 1px solid #d9d9d9; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.image_wrapper {
	display: inline-block;
	padding: 8px;
	border: 1px solid #999;
	background: #ffffff;
	margin-bottom: 10px;
}
.fl_img {
	float: left;
	margin: 3px 30px 15px 0;
}
.fr_img {
	float: right;
	margin: 3px 0 15px 15px;
}

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; }
cite span { color: #000; }
em { color: #145d7e; }

.list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.list li {
	background: transparent url(/images/list.png) no-repeat scroll 0 0px;
	margin:0 0 20px;
	padding:0 0 0 25px;
	line-height: 1em;
}


.button a {
	clear: both;
	display: block;
	width: 105px;
	height: 25px;
	padding: 5px 0 0 0;
	margin-top: 15px;
	background:  url(/images/button.png) no-repeat;

	color: #333;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	background: url(/images/button_hover.png) no-repeat;
}

#outer_wrapper {
	width: 100%;
	background: url(/images/wrapper.jpg) top center no-repeat;
}

#wrapper {
	width: 970px;
	margin: 0 auto;
	padding: 0 10px;
}

#header {
	width: 900px; 
	height: 50px;
	padding: 20px 35px 10px;
}

#header  #site_title {
	float: left;
	width: 600px;
	padding: 0;
}

#header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 38px;
	color: #FFF;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.2em black;
}

#header  #site_title a span {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: 20px;
}

#header #search_box {
	float: right;
	width: 270px;
	height: 35px;
	margin: 5px 0 0 0;
	background: url(/images/search.png) no-repeat;
}

#search_box form {
	width: 270px;
	height: 35px;
	padding: 0;
}

#searchfield {
	height: 20px;
	width: 180px;
	padding: 10px 5px 5px 5px;
	margin-right: 0px;
	color: #fff;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}

#search_button {
 	height: 35px;
	width: 75px;
	padding: 0 0 5px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #333;
	background: none;
	border: none;
}

#banner {
	position: relative;
	width: 900px;
	height: 200px;
	padding: 50px 35px 0;
}

#banner .nav_bg {
	position: absolute;
	bottom: 0px;
	left: 30px;
	width: 91px;
	height: 33px;
	background: url(/images/slider_nav_bg.png) no-repeat;
}
/* menu */

#menu {
	width: 900px;
	height: 26px;
	padding: 12px 35px;
	margin: 30px 0 10px;
	background: url(/images/menu.png) repeat-x;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	padding: 0;
	margin: 0px;
	display: block;
	float: left;
}

#menu ul li .icon {
	float: left;                                                                                              
	display: block;
	width: 25px;
	height: 27px;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: transparent url('/images/icons.png') 0 0 no-repeat;
}

#menu ul li .icon.dashboard{background-position: -211px -35px;}
#menu ul li .icon.projects{background-position: -78px -35px;}
#menu ul li .icon.tasks{background-position: -506px -2px;}
#menu ul li .icon.time{background-position: -177px -233px;}
#menu ul li .icon.payments{background-position: -210px -365px;}
#menu ul li .icon.users{background-position: -244px -299px;}

#menu ul li a {
	float: left;
	display: block;
	height: 24px;
	padding: 3px 10px 0 0;
	margin: 0 5px 0 0 ;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	color: #ccc;	
	font-weight: bold;
	outline: none;
	border: none;                                                                                     
}

#menu ul li a:hover {
	color: #ccc;
	text-shadow: 0.1em 0.1em 0.2em black;
}

/* end of menu */

#main_top {
	clear: both;
	width: 970px;
	height: 25px;
	background: url(/images/content_top.png) no-repeat;
}

#main_bottom {
	clear: both;
	width: 970px;
	height: 50px;
	background: url(/images/content_bottom.png) no-repeat;
}

#main {
	width: 900px;
	padding: 0 35px;
	background: url(/images/content.png) repeat-y;
}                               
#main table 				{width: 100%; border-spacing: 0;}
#main table td				{padding: 2px;}
#main table thead 			{font-weight: bold; background-color: gray;  color: white; text-shadow: 0.1em 0.1em 0.2em black;}
#main table tbody tr td		{border-bottom: 1px solid silver;}
#main table tbody tr.even	{background-color: silver;}

/* status classes */
#main table tbody tr.status10		{background-color: #B0FFB0;}
#main table tbody tr.status3		{background-color: #B0B0FF;}

#content {
	float: left;
	width: 560px;
}

#sidebar {
	float: right;
	width: 280px;
}

.col_w420 {
	width: 420px;
}

.col_w250 {
	width: 250px;
}

.two_column {
	width: 250px;
}

.three_column {
	float: left;
	width: 250px;
	padding-right: 30px;
}

#content .news_box {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #999;
}

#content .news_box h2 {
	margin-bottom: 5px;
}

#content .news_box .news_info {
	margin-bottom: 20px;
}

#contact_form {
	float: left;
	padding: 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 350px;
	padding: 5px 0;
	background: #fff;
	border: 1px solid #dfdfdf;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;
}

#contact_form form textarea {
	width: 350px;                                                                                                                                                                                                                                                                     
	height: 200px;
	background: #fff;
	border: 1px solid #dfdfdf;
	font-family: Arial, Helvetica, sans-serif;
}                                                                                               

#contact_form form .submit_btn {
	margin-right: 100px;
	padding: 7px 14px;
	color: #FFF;
	font-weight: bold;                                                                                                                                                                                                                                                                                                                                                                 
	background: #666666;
	border: 1px solid #505050;                                                            
}

/* footer */

#footer {
	width: 910px;
	padding: 20px 30px;
	text-align: center;                                                                                                                                                                                                                                                                              
	color: #9db9c5;
}

#footer a {
	color: #9db9c5;
}

/* end of footer */

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
